:root {
    --clr-base-100: hsl(0, 0%, 100%);
    --clr-base-200: hsl(212, 45%, 89%);
    --clr-base-400: hsl(220, 15%, 55%);
    --clr-base-900: hsl(218, 44%, 22%);

    --ff-base: 'Outfit', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    background-color: var(--clr-base-200);
    color: var(--clr-base-400);
    font-size: 0.875rem;
    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: 1.75rem;
}


.card {
    border-radius: 1.5rem;
    padding: 1rem;
    background-color: var(--clr-base-100);
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    text-align: center;
}

img {
    border-radius: 1rem;
}

.card__info {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card__descp {
    font-size: 1.35rem;
    font-weight: var(--fw-bold);
    color: var(--clr-base-900);
    width: 250px;
}

.card__parr {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

@media (min-width: 375px) {
    .card {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card__info {
        margin-left: auto;
        margin-right: auto;
    }

    img {
        width: 375px;
    }

}